
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Burası Title</title>
</head>
<body>
    <div>
        Burası Layout
    </div>
    <div>
        <h1>@RenderBody()</h1>  
    </div>
</body>
</html>
