
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Mvc kamp tablo örneği</h3>
        <br />
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Dicription</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Dicription</td>
                <td>Status</td>
            </tr>
        </table>


    </div>
</body>
</html>
